<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />
    {{#if homeCSS}}
        <link href='/css/gameboard.css' rel='stylesheet' />
        <link href='/css/score.css' rel='stylesheet' />

        <script src='js/homescript.js'></script>

    {{/if}}
    {{#if summaryCSS}}
    
        <script src='js/summaryscript.js'></script>
        <link href='/css/summary.css' rel='stylesheet' />
    {{/if}}
    {{#if leaderboardCSS}}
        <link href='/css/leaderboard.css' rel='stylesheet' />
    {{/if}}

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/leaderboard">Leaderboard</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>