<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />
    {{#if homeCSS}}
        <link href='/css/gameboard.css' rel='stylesheet' />
        <link href='/css/score.css' rel='stylesheet' />

        <script src='js/homescript.js'></script>

    {{/if}}
    {{#if summaryCSS}}
    
        <script src='js/summaryscript.js'></script>
        <link href='/css/summary.css' rel='stylesheet' />
    {{/if}}
    {{#if formsCSS}}
        <link href='/css/forms.css' rel='stylesheet' />
    {{/if}}

</head>
<body>
    {{{ body }}}
</body>
</html>