
<div id='homePage'>
    <img src='https://cdn3.vectorstock.com/i/1000x1000/85/72/set-of-people-icons-in-flat-style-with-faces-20-a-vector-11618572.jpg' width='300' height='300' />
    <h1>{{heading}}</h1>
    <p>The place where people connect</p>
</div>

{{>footer}}






