#score {
    margin-top:30px;
    text-align: center;
    
}

.score {
    /* opacity: 10; */
    margin-left:50px;
    margin-right:50px;
    background-color: #7851a9;
    font-family: 'Open Sans', sans-serif;
    color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    border-radius: 1em;
}